@use 'sass:map';
@use '@angular/material' as mat;
@include mat.core();

$perseus-primary-palette: (
 50: #dfefff,
 100: #bdd8ed,
 200: #9ebbd5,
 300: #7d9fbd,
 400: #648aaa,
 500: #4a7698,
 600: #3d6887,
 700: #2e5470,
 800: #20425a,
 900: #0c2d42,
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: rgba(black, 0.87),
   400: rgba(black, 0.87),
   500: rgba(black, 0.87),
   600: white,
   700: white,
   800: white,
   900: white,
 )
);

$perseus-accent-palette: mat.$orange-palette;

$perseus-primary: mat.define-palette($perseus-primary-palette, 800, 300, 900, 700);
$perseus-accent: mat.define-palette($perseus-accent-palette);
$perseus-warn: mat.define-palette(mat.$red-palette);
$typography: mat.define-typography-config(
  $font-family: 'Raleway',
);


$perseus-light-theme: mat.define-light-theme((
  color: (
    primary: $perseus-primary,
    accent: $perseus-accent,
    warn: $perseus-warn,
  )
));

$perseus-dark-theme: mat.define-dark-theme((
  color: (
    primary: $perseus-primary,
    accent: $perseus-accent,
    warn: $perseus-warn,
  )
));

@include mat.all-component-themes($perseus-light-theme);
@include mat.all-component-typographies($typography);

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Raleway, "Helvetica Neue", sans-serif; 
  
  --primary: #{mat.get-color-from-palette($perseus-primary)};
  --accent: #{mat.get-color-from-palette($perseus-accent)};
}

.expandable-row {
  height: 0 !important;
  cursor: pointer;
}

.expandable-row:hover {
  background-color: mat.get-color-from-palette($perseus-primary, 50) !important;
}

.expandable-row td {
  border-bottom-width: 0;
}

//--- Move these to per component scss files by moving paletts to a common module.

.toolbar {
  background: map.get(map.get($perseus-dark-theme, 'background'), 'background') !important;
}

.hamburger {
  color: map.get(map.get($perseus-dark-theme, 'foreground'), 'text') !important;
}

.vocabulary-stepper .mat-step-icon {
  color: mat.get-color-from-palette($perseus-accent) !important;
}