@use 'sass:map';
@use '@angular/material' as mat;
@include mat.core();

$perseus-primary-palette: (
 50: #e1f6fc,
 100: #b4eaf7,
 200: #83dcf1,
 300: #53cee9,
 400: #32c4e2,
 500: #20425a,
 600: #1eaac8,
 700: #1795ad,
 800: #118194,
 900: #1c4b5a,
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: rgba(black, 0.87),
   400: rgba(black, 0.87),
   500: rgba(black, 0.87),
   600: white,
   700: white,
   800: white,
   900: white,
 )
);

$perseus-accent-palette: mat.$orange-palette;

$perseus-primary: mat.define-palette($perseus-primary-palette, 500, 300, 900, 700);
$perseus-accent: mat.define-palette($perseus-accent-palette);
$perseus-warn: mat.define-palette(mat.$red-palette);
$typography: mat.define-typography-config(
  $font-family: 'Raleway',
);


$perseus-light-theme: mat.define-light-theme((
  color: (
    primary: $perseus-primary,
    accent: $perseus-accent,
    warn: $perseus-warn,
  )
));

$perseus-dark-theme: mat.define-dark-theme((
  color: (
    primary: $perseus-primary,
    accent: $perseus-accent,
    warn: $perseus-warn,
  )
));

@include mat.all-component-themes($perseus-light-theme);
@include mat.all-component-typographies($typography);

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Raleway, "Helvetica Neue", sans-serif; 
  
  --primary: #{mat.get-color-from-palette($perseus-primary)};
  --accent: #{mat.get-color-from-palette($perseus-accent)};
}

//--- Move these to per component scss files by moving paletts to a common module.

.toolbar {
  background: map.get(map.get($perseus-dark-theme, 'background'), 'background') !important;
}

.hamburger {
  color: map.get(map.get($perseus-dark-theme, 'foreground'), 'text') !important;
}

.vocabulary-stepper .mat-step-icon {
  color: mat.get-color-from-palette($perseus-accent) !important;
}